@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
  min-width: 700px;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
  box-sizing: border-box;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  cursor: default;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 20px 10px;
}

.icon__switch {
  display: block;
  text-align: end;
  font-size: 2rem;
  color: #676767;
  cursor: pointer;
}

.card__view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px 10px;
  padding: 0 30px;
}

.list__view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
}

.card__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1;
  page-break-inside: avoid;
  break-inside: avoid;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 2px #00000030;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: whitesmoke;
}

.list__image {
  max-height: 100px;
}

.card__title {
  margin-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.list__title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card__bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.card__price,
.list__price {
  font-size: 1.5rem;
  color: #cf352b;
}

.card__button,
.list__button {
  display: block;
  padding: 10px 20px;
  border: 1px solid #cf352b;
  border-radius: 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: #cf352b;
  cursor: pointer;
  transition: background-color, color 0.5s ease-in-out;
}

.card__button:hover,
.list__button:hover {
  background-color: #cf352a80;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .card__price {
    font-size: 1rem;
  }

  .card__button {
    padding: 5px 20px;
    font-size: 0.7rem;
  }
}

@media (max-width: 780px) {
  .card__bottom {
    margin-bottom: 10px;
  }

  .card__button {
    padding: 5px 20px;
    font-size: 0.7rem;
  }
}
